.buttonsContainer {
    display: flex;
    gap: 20px;
}

.responseContainer {
    display: flex;
    gap: 40px;
    padding: 50px;
}

.imageContainer {
}

.image {
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.code {
    font-size: 30px;
    padding-bottom: 10px;
}

.text {
    font-size: 16px;
}

.info {
}
