.greetingForm {
    input {
        border-radius: 5px;
        width: 372px;
        height: 36px;
    }
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
}

.error {
    font: 400 14px/17px 'Montserrat', sans-serif;
    color: rgba(204, 0, 0, 1);;
}

.input {
    border: 1px solid rgba(209, 209, 209, 1);


}

.input:focus {
    outline: none;
}

.errorInput {
    border: 1px solid rgba(204, 0, 0, 1);
    outline: none;

}

.button {
    padding: 8px 24px;
    height: 36px;
    border: none;
    background-color: rgba(0, 102, 204, 1);
    color: white;
    border-radius: 3px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 50%;
}

.text {
    font: 400 14px/20px 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 9px;

}

.greeting {
}
