.sendForm {
    max-width: 970px;
    position: relative;
    background-color: #F5F7FB;
    border-radius: 20px;
    padding: 10px;
    height: 40px;
    margin: 60px;
    display: flex;
}

.textarea {
    background-color: transparent;
    width: calc(100% - 25px);
    border: none;
    outline: none;
}

.button {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 39px;
    border-radius: 20px;
    font-size: 16px;
    background: #0066CC;
    color: #FFFFFF;
    border: 0;

}



.button:active {
    background-color: #3a7999;
}
